

#App{
    min-height: 100dvh;
    overflow:scroll;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: urL("../img/forest-g59058b814_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    color:white;
    font-family: montserrat,sans-serif;

    overflow: scroll;

    --medium:calc(1.5rem + 1vw);
    --big:calc(var(--medium) * 1.6);
    --small:calc(var(--medium) / 1.6)


}

.flexContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap:var(--medium);
    padding:var(--small);
}
