#search{
    position: relative;
}

.searchBar{
    display: flex;
    border-bottom: solid 2px var(--light);
}


.input{
    color:var(--light);
    border: none;
    background:none;
    font-size: var(--small);
    padding:5px;
}
.input:focus{
    outline:none;
}

::placeholder { 
    color: var(--light);
    opacity: 0.9;
  }

.glasses{
    height: var(--medium) !important;
    width: var(--medium) !important;
}
.glasses:hover{
    transform: translate(2px,-1px) scale(1.2);
    cursor:grab
}

.auto{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    opacity: 0.95;
    border-bottom-left-radius: var(--small);
    border-bottom-right-radius: var(--small);
}



.autocomplete{
    margin:0.5rem;
    font-size: var(--small);
    display: flex;
}
.autocomplete:hover{
    transform: translateX(var(--small)) scale(1.1);
    cursor:grab
}

.autoGlasses{
    height: var(--small) !important;
    width: var(--small) !important;
}